
*,*::before,*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Meeriweather Sans , sans-serif;
}

:root {
	--colorDark1: #112D4E;
	--colorDark2: #3f72af;
	--colorLight1: #DBE2EF;
	--colorLight2: #F9F7F7;
}

.wrapper{
	width: 100vw;
	height: 100vh;
	color: var(--colorLight2);
	
    background: linear-gradient(-45deg,#0f2027,#203a43,#2c5364,#4e4376,#2b5876);
	background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
	 
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1{
	text-align: center;
	text-transform: uppercase;
	padding-top: 20px;

}

.tab-container{
	width:90%;
	display: flex;
	justify-content: space-between;
	max-width: 550px;
	margin: 0 auto;
	margin-top: 4rem;

}


.tab{
	color: white;
	cursor: pointer;
	font-size: 0.875rem;
	padding : 5px 8px;
	letter-spacing: 1.75px;
}

.tab.current-tab{
	background-color: rgba(219,226,239,0.5);
	border-radius: 4px;
}

.weather-container{
	display : flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-block: 4rem; 
}

.btn{
	all: unset;
	font-size: 0.85rem;
	border-radius: 5px;
	background-color: var(--colorDark2);
	text-transform: uppercase;
	cursor: pointer;
	padding: 10px 30px;
	margin-bottom: 10px;

}

.sub-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.grant-location-container{
	display: none;
}

.grant-location-container.active{
	display: flex;
}

.grant-location-container img{
	margin-bottom: 2rem;

}

.grant-location-container p:first-of-type{
	font-size: 1.75rem;
	font-weight: 600;
}

.grant-location-container p:last-of-type{
	font-size: 0.85rem;
	font-weight: 500;
	margin-top: 0.75rem;
	margin-bottom: 1.75rem;
	letter-spacing: 0.75px;
	
}

.loading-container{
	display: none;
}

.loading-container.active{
	display: flex;
}

.loading-container p{
	text-transform: uppercase;
}

.user-info-container{
	display: none;
}

.user-info-container.active{
	display:flex;
}

.name{
	display: flex;
	flex-direction: row;
	gap: 0 0.5rem;
	margin-bottom: 1rem;
}

.name p{
	font-size: 2rem;

}

.user-info-container img{
	 width: 90px;
	height: 90px; 
}

.name img{
	width: 30px;
	height: 30px;
	object-fit: contain;
}
.user-info-container p{
	font-size: 1.5rem;
	font-weight: 200;
}

.user-info-container p[data-temp]{
	font-size: 2.75rem;
	font-weight: 700;
}

.parameter-container{
	width: 90%;
	display: flex;
	gap: 10px 20px;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

 .parameter{
	width: 300px;
	max-width: 200px;
	background-color: rgba(219, 226, 239, 0.5);
	border-radius: 5px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 5px 0;
	align-items: center;

 }


 
 
	.parameter:hover{
		transition: 0.3s;
		scale: 1.1;
		box-shadow: 0 5px rgb(0, 153, 255) ;
		
	}

 .parameter img{
	width: 50px;
	height: 50px;

 }

 .parameter p:first-of-type{
	font-size: 1.15rem;
	font-weight: 600;
	text-transform: uppercase;
 }

 .parameter p:last-of-type{
	font-size: 1rem;
	font-weight: 200;
 }

 .form-container{
	display: none;
	width: 90%;
	max-width: 550px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	gap: 0 10px;
	margin-bottom: 3rem;
 }

 .form-container.active{
	display: flex;
	
}
.form-container input{
	width: calc(100% - 10%);
	height: 40px;
	padding: 0 20px;
	background-color: rgba(219, 226,239, 0.5);
	border-radius: 10px;
}

.form-container input::placeholder{
	color: rgba(255, 255, 255, 0.7)
}

.form-container input:focus{
	outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn{
	padding: unset;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	margin-bottom: 1px;

}

.form-container .btn:hover{
	transition: 0.3s;
	scale:1.06;
}



















